:root {
    --logo: #0a3871;
    --fill-high-emphasis: #ffcd38;
    --fill-medium-emphasis: #333c83;
    --fill-low-emphasis: #ffffff;
    --shadow-high-emphasis: #ff8d29;
    --shadow-medium-emphasis: #212756;
    --text-color-1: #ffffff;
    --text-color-2: #000000;
    --text-color-3: #efc783;
    --light: rgba(255, 255, 255, 0.35);
    --border: #000000;
    --shadow: #000000;
    --background-1: #e5cb9f;
    --background-2: #efc783;
}
