.texture {
    position: fixed;
    z-index: -10;
    top: 50%;
    left: 50%;
    opacity: 0.20;
    height: 100%;
    transform: translate(-65%, -50%) scale(2);
    animation: 45s linear 0s infinite alternate none running move;
}

@keyframes move {
    from {
        transform: translate(-65%, -50%) scale(2);
    }
    to {
        transform: translate(-15%, -50%) scale(2);
    }
}
