.container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 72px * 2);
    padding: 0 24px 24px;
    gap: 24px;
}

.container--game {
    height: auto;
}

.container--home[aria-hidden="false"] {
    display: flex;
}
.container--add-word[aria-hidden="false"] {
    display: flex;
}
.container--game[aria-hidden="false"] {
    display: flex;
}

.button__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
